VITE_API_URL=https://api.admin.u-code.io
VITE_AUTH_URL=https://api.auth.u-code.io
VITE_GOOGLE_CLIENT_ID=471439990521-hfd3oreqct00ittfsmv4f2n07bab93bf.apps.googleusercontent.com
VITE_ICON_CDN_URL=https://cdn.u-code.io/icons/
VITE_CDN_URL=https://cdn.u-code.io/
